.app {
  display: flex;
}

.game {
  width    : 26%;
  display  : flex;
  flex-wrap: wrap;
  margin   : auto
}

.game img {
  width: 12%;
}

h1 {
  text-align: center;
}

div {
  text-align: center;
}

a {
  color: #87CEEB;
}

h4 {
  color: red;
}

span {
  font-size: 20px;
}

@media (max-width: 800px) {
  .game {
    width    : 50%;
    display  : flex;
    flex-wrap: wrap;
    margin   : auto
  }
}